<div class="projects">
    <div class="container">
        <h3 class="title">Experiencia</h3>
        <div class="project-container">
            <div class="project">
                <div class="image">
                    <img [src]="image" alt="">
                </div>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod saepe nihil ullam. Ipsam a, dicta quod quis provident quas expedita nihil illum ducimus, repellendus officia facilis laudantium possimus dolores sed!</p>
            </div>
        </div>
    </div>
</div>