.body-container{
    width: 100%;
    height:750px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-color: #c80064;
    background-image: linear-gradient(180deg, #c80064 0%, #C850C0 46%, rgb(157, 112, 255) 100%);
    display: flex;   
    color: aliceblue; 
}

.box1{
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
}
.box2{
    margin-left: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
}

img{
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
}