<div class="header">
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="">
            <img class="logo" [src]="image" alt="">
        </a>
        <div class="conateiner-nav">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Proyectos</a>
                </li>
                <li>
                    <a href="">About me</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

  